@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Delicious+Handrawn&family=Nabla&family=Quicksand:wght@300;400;700&family=Titillium+Web:wght@300;400;700&display=swap');


.App {
}

.a {
  white-space: pre;
}

* {

}

form {
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
  padding: 20px;
}

#home {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  font-family: 'Allerta Stencil', sans-serif;
  color: darkblue;
}